<div class="schedule-page">
  <div class="container">
    <div class="schedule-container">
      <div class="box">
        <div class="number-container">
          <div class="number">{{ total }}</div>
          <div class="title">Total Actions</div>
        </div>
        <div class="sub-container">
          <div class="sub-title">Planned Actions</div>
          <div class="value">{{ planned }}</div>
        </div>
        <div class="sub-container">
          <div class="sub-title">In_Progress Actions</div>
          <div class="value">{{ inprogress }}</div>
        </div>
        <div class="sub-container">
          <div class="sub-title">Delivered Actions</div>
          <div class="value">{{ delivered }}</div>
        </div>
      </div>

      <div class="box">
        <div class="title1">Action Progress</div>
        <div class="chart-container">
          <img src="../../assets/images/Chart.png" alt="Chart Image" class="chart-image">
          <div class="color-description-container">
            <div class="color-container">
              <div class="color-rectangle" style="background-color: #FFD800;"></div>
              <div class="color-description">Planned</div>
              <div class="color-percentage">{{ planned / total * 100 | number:'1.2-2' }}%</div>
            </div>
            <div class="color-container">
              <div class="color-rectangle" style="background-color: #00ff00;"></div>
              <div class="color-description">In_Progress</div>
              <div class="color-percentage">{{ inprogress / total * 100 | number:'1.2-2' }}%</div>
            </div>
            <div class="color-container">
              <div class="color-rectangle" style="background-color: #0000ff;"></div>
              <div class="color-description">Delivered</div>
              <div class="color-percentage">{{ delivered / total * 100 | number:'1.2-2' }}%</div>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="title1">Progress Rate</div>
        <img src="./assets/images/shart.png" alt="shart Image" class="shart-image">
        <div class="prog">
          <div class="Progress-rate">{{ delivered / total * 100 | number:'1.2-2' }}%</div>
          <div class="Progress">Progress Rate</div>
        </div>
      </div>

      <div class="buttons">
        <button class="add-epic-button" (click)="addEpic()">Add Task</button>
        <button class="add-task-button" (click)="addTask()">Add Action</button>
      </div>

      <div class="table-container" *ngFor="let table of tables">
        <div class="Epic">
          <span class="epic-title" style="width:500px">{{ table.name }} : {{ table.deadline }}</span>
        </div>
        <table class="data-table">
          <thead>
          <tr>
            <th style="width: 500px;">Action</th>
            <th style="width: 180px;">Date</th>
            <th style="width: 120px;">Effort</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of table.data">
            <td>{{ row.description }}</td>
            <td>
              <img src="./assets/images/calendar.png" alt="calendar" width="15px" class="calendar">
              {{ row.deadline }}
            </td>
            <td>{{ row.effort }}</td>
            <td>
              <span [ngClass]="getStatusColorClass(row.status)"></span>
              {{ row.status }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <ng-template #addTaskDialog>
        <div class="popup-form">
          <h2>Add Action</h2>
          <form [formGroup]="taskForm" (submit)="registerTask()">
            <div>
              <label for="action">Description:</label>
              <input type="text" id="action" name="action" formControlName="action">
              <div *ngIf="taskForm.controls['action'].touched && taskForm.controls['action'].invalid" class="error-message">
                Action is required
              </div>
            </div>
            <div>
              <label for="date">Date:</label>
              <input type="text" id="date" name="date" formControlName="date">
              <div *ngIf="taskForm.controls['date'].touched && taskForm.controls['date'].invalid" class="error-message">
                Date is required
              </div>
            </div>
            <div>
              <label for="effort">Effort:</label>
              <input type="text" id="effort" name="effort" formControlName="effort">
              <div *ngIf="taskForm.controls['effort'].touched && taskForm.controls['effort'].invalid" class="error-message">
                Effort is required
              </div>
            </div>
            <div>
              <label for="status">Status:</label>
              <select id="status" formControlName="status" class="input-field">
                <option value="" disabled selected>Select status</option>
                <option value="In_Progress">In_Progress</option>
                <option value="Pending">Pending</option>
                <option value="Delivered">Delivered</option>
              </select>
              <div *ngIf="taskForm.controls['status'].touched && taskForm.controls['status'].invalid" class="error-message">
                Status is required
              </div>
            </div>

            <div>
              <label for="epic">Epic:</label>
              <select id="epic" name="epic" formControlName="epic">
                <option value="" disabled selected>Select epic</option>
                <option *ngFor="let epic of tables" [value]="epic.id">{{ epic.name }}</option>
              </select>
              <div *ngIf="taskForm.controls['epic'].touched && taskForm.controls['epic'].invalid" class="error-message">
                Epic is required
              </div>
            </div>

            <div class="button-container">
              <button type="submit">Register</button>
              <button type="button" (click)="closeAddTaskModal()">Cancel</button>
            </div>
          </form>
        </div>
      </ng-template>

      <ng-template #addEpicDialog>
        <div class="popup-form">
          <h2>Add Task</h2>
          <form (submit)="registerEpic()">
            <div>
              <label for="epicName">Name:</label>
              <input type="text" id="epicName" name="epicName" [(ngModel)]="epic.name" required>
            </div>
            <div>
              <label for="deadline">Deadline:</label>
              <input type="text" id="deadline" name="deadline" [(ngModel)]="epic.deadline" required>
            </div>
            <div class="button-container">
              <button type="submit">Register</button>
              <button type="button" (click)="closeAddEpicModal()">Cancel</button>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>
