<div class="resources-page">
  <div class="container">
    <div class="resource-container">
      <div class="box">
        <div class="number-container">
          <div class="number">{{total}}</div>
          <div class="title">Total effort</div>
        </div>
        <div class="sub-container">
          <div class="sub-title">Project Management</div>
          <div class="value">{{manage}}</div>
        </div>
        <div class="sub-container">
          <div class="sub-title">Development</div>
          <div class="value">{{dev}}</div>
        </div>
        <div class="sub-container">
          <div class="sub-title">Support</div>
          <div class="value">{{support}}</div>
        </div>
      </div>

      <div class="box">
        <div class="title1">Resource Planning</div>
        <div class="chart-container">
          <img src="../../assets/images/Chart.png" alt="Chart Image" class="chart-image">
          <div class="color-description-container">
            <div class="color-container">
              <div class="color-rectangle" style="background-color: #FFD800;"></div>
              <div class="color-description">Planned</div>
              <div class="color-percentage">50%</div>
            </div>
            <div class="color-container">
              <div class="color-rectangle" style="background-color: #00ff00;"></div>
              <div class="color-description">In_Progress</div>
              <div class="color-percentage">30%</div>
            </div>
            <div class="color-container">
              <div class="color-rectangle" style="background-color: #0000ff;"></div>
              <div class="color-description">Delivered</div>
              <div class="color-percentage">20%</div>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="title1">Progress Rate</div>
        <img src="./assets/images/shart.png" alt="shart Image" class="shart-image">
        <div class="prog">
          <div class="Progress-rate">7895</div>
        <div class="Progress">Progress Rate</div>
        </div>
      </div>

      <div class="buttons">
        <button class="add-epic-button" (click)="addNew()">Add new</button>

      </div>

      <div class="table-container" *ngFor="let table of tables">
        <table class="data-table">
          <thead>
            <tr>
              <th>Team Member</th>
              <th>Role</th>
              <th>BU</th>
              <th>Regime</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Duration</th>
              <th>Effort</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let row of table.data; let i = index">
              <td>{{ row.teamMember }}</td>
              <td>{{ row.role }}</td>
              <td>{{ row.bu }}</td>
              <td>{{ row.regime }}</td>
              <td>
                <div class="date-cell">
                  <img src="./assets/images/calendar.png" alt="calendar" width="15px" class="calendar">
                  {{ row.startDate }}
                </div>
              </td>
              <td>
                <div class="date-cell">
                  <img src="./assets/images/calendar.png" alt="calendar" width="15px" class="calendar">
                  {{ row.endDate }}
                </div>
              </td>
              <td>{{ row.duration }}</td>
              <td>{{ row.effort }}</td>
              <td>
                {{ row.status }}
              </td>
            </tr>
            <!-- Sample Rows (Replace with your actual data) -->

            <tr *ngIf="table.isAddingNew">
              <td>
                <input type="text" [(ngModel)]="newRow.teamMember" class="input-field" >
              </td>
              <td>
                <input type="text" [(ngModel)]="newRow.role" class="input-field">
              </td>
              <td>
                <input type="text" [(ngModel)]="newRow.bu" class="input-field">
              </td>
              <td>
                <input type="text" [(ngModel)]="newRow.regime" class="input-field">
              </td>
              <td>
                <div class="date-cell">
                  <img src="./assets/images/calendar.png" alt="calendar" width="15px" class="calendar">
                  <input type="text" [(ngModel)]="newRow.startDate" class="input-field">
                </div>
              </td>
              <td>
                <div class="date-cell">
                  <img src="./assets/images/calendar.png" alt="calendar" width="15px" class="calendar">
                  <input type="text" [(ngModel)]="newRow.endDate" class="input-field">
                </div>
              </td>
              <td>
                <input type="text" [(ngModel)]="newRow.duration" class="input-field">
              </td>
              <td>
                <input type="text" [(ngModel)]="newRow.effort" class="input-field">
              </td>
              <td>
                <input type="text" [(ngModel)]="newRow.status" class="input-field" (keydown.enter)="saveNewRow(table)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
