<div class="dashboard-page">
  <div class="container">
    <div class="dashboard-container">
      <div class="rectangle">
        <h2 class="title">Revision</h2>
        <hr class="divider">
        <div class="subtitle-example">
          <h3 class="subtitle">Date</h3>
          <p class="example">24/02/2023</p>
        </div>
        <div class="subtitle-example">
          <h3 class="subtitle">Updated By</h3>
          <p class="example">Oussama Haddad</p>
        </div>
        <hr class="divider">
        <h2 class="title">Details</h2>
        <div class="subtitle-example">
          <h3 class="subtitle">Project</h3>
          <p class="example">Project File</p>
        </div>
        <div class="subtitle-example">
          <h3 class="subtitle">Business Unit</h3>
          <p class="example">FSI</p>
        </div>
        <div class="subtitle-example">
          <h3 class="subtitle">Team Lead</h3>
          <p class="example">Oussama Haddad</p>
        </div>
        <div class="subtitle-example">
          <h3 class="subtitle">Project Type</h3>
          <p class="example">Fixed Price</p>
        </div>
        <div class="subtitle-example">
          <h3 class="subtitle">Original Estimation</h3>
          <p class="example">01/03/2023</p>
        </div>
        <div class="subtitle-example">
          <h3 class="subtitle">Deadline</h3>
          <p class="example">20/03/2023</p>
        </div>
      </div>
      <div class="box-container">
        <div class="first">
        <div class="box">
          <h2>Progress</h2>
          <div class="content">
            <span class="percentage">75%</span>
            <img src="./assets/images/green.png" alt="Progress Image">
          </div>
        </div>
        <div class="box">
          <h2>Effort</h2>
          <div class="content">
            <span class="percentage">90%</span>
            <img src="./assets/images/red.png" alt="Effort Image">
          </div>
        </div>
      </div>
        <div class="first">
        <div class="boxe" style="margin-right: 20px">
          <div class="title1">Action Progress</div>
          <div class="chart-container">
            <img src="../../assets/images/Chart.png" alt="Chart Image" class="chart-image">
            <div class="color-description-container">
              <div class="color-container">
                <div class="color-rectangle" style="background-color: #FFD800;"></div>
                <div class="color-description">Planned</div>
                <div class="color-percentage">60%</div>
              </div>
              <div class="color-container">
                <div class="color-rectangle" style="background-color: #00ff00;"></div>
                <div class="color-description">In_Progress</div>
                <div class="color-percentage">30%</div>
              </div>
              <div class="color-container">
                <div class="color-rectangle" style="background-color: #0000ff;"></div>
                <div class="color-description">Delivered</div>
                <div class="color-percentage">10%</div>
              </div>
            </div>
          </div>
        </div>

          <div class="boxe">
            <div class="title1">Resource Planning</div>
            <div class="chart-container">
              <img src="../../assets/images/Chart.png" alt="Chart Image" class="chart-image">
              <div class="color-description-container">
                <div class="color-container">
                  <div class="color-rectangle" style="background-color: #FFD800;"></div>
                  <div class="color-description">Management</div>
                  <div class="color-percentage">60%</div>
                </div>
                <div class="color-container">
                  <div class="color-rectangle" style="background-color: #00ff00;"></div>
                  <div class="color-description">Development</div>
                  <div class="color-percentage">40%</div>
                </div>
                <div class="color-container">
                  <div class="color-rectangle" style="background-color: #0000ff;"></div>
                  <div class="color-description">support</div>
                  <div class="color-percentage">0%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="seconde">
          <div class="mini-box">
            <div class="mini-rectangle"><div class="text">Estimated Effort</div></div>
            <div class="number">102</div>
          </div>
          <div class="mini-box">
            <div class="mini-rectangle"><div class="text">Blocked Action</div></div>
            <div class="number">102</div>
          </div>
          <div class="mini-box">
            <div class="mini-rectangle"><div class="text">Planned Effort</div></div>
            <div class="number">102</div>
          </div>
          <div class="mini-box">
            <div class="mini-rectangle"><div class="text">DEV</div></div>
            <div class="number">102</div>
          </div>
        </div>

        <div class="third">
          <div class="boxee">
            <div class="rectanglee" style="background: #FFD800">
              <div class="title" style="color: #483A9D">ChangeCost</div>
            </div>
            <div class="numbers">102</div>
            <div class="rectanglee" style="background: #FFD800">
              <div class="title" style="color: #483A9D">Pending Action</div>
            </div>
            <div class="numbers">102</div>
          </div>

          <div class="boxee">
            <div class="rectanglee" style="background: #483A9D">
              <div class="title" style="color: #FFFFFF">Risk Score</div>

            </div>
            <div class="numbers">102</div>
            <div class="rectanglee" style="background: #483A9D">
              <div class="title" style="color: #FFFFFF">Pending Action</div>

            </div>
            <div class="numbers">102</div>
          </div>


        </div>





      </div>








    </div>
  </div>
</div>
